<div class="mt-4">
  <div class="mb-3">
    <% unless @proposal.participants.blank? %>
      <h3 class="form-section">Confirmed Participants:</h3>
      <%= render partial: 'proposals/confirm_participant', locals: { confirmed_participants: @proposal.participants } %>
    <% end %>
  </div>
</div>
