<div class="row border-bottom mb-3 placeholder-glow">
  <% 12.times do %>
    <div class="col mx-2 my-3">
      <span class="placeholder w-100"></span>
      <span class="placeholder w-25"></span>
      <span class="placeholder w-75"></span>
      <span class="placeholder w-50"></span>
    </div>
  <% end %>
</div>
