<% count = local_assigns.has_key?(:rows) ? local_assigns.fetch(:rows) : 5 %>
<div id="<%= type %>_placeholders">
  <% count.times do %>
    <%= render partial: 'submitted_proposals/index/proposal_placeholder' %>
  <% end %>
</div>
